// Colors

// Functionnal Colors
$color-prim         : #497133;
// $color-sec          : 

// $color-text-light   : 
 $color-text-base    : #3c3c3c;
// $color-text-dark    : 

// $color-border-light : 
// $color-border-dark  : 

$color-link-default : #98b559;
// $color-link-visited : 

// $color-shadow       : 
// $color-body         : 

// Fonts
@font-face {
  font-family: "proximanova-reg";
  src: url('/fonts/ProximaNova-Reg.otf') format('opentype');
 }
@font-face {
  font-family: "proximanova-light";
  src: url('/fonts/ProximaNova-Light.otf') format('opentype');
 }
 @font-face {
  font-family: "proximanova-sbold";
  src: url('/fonts/ProximaNova-Sbold.otf') format('opentype');
 }


// Font Stacks
 $stack-sans-serif	: 'proximanova-reg', Helvetica, Arial, sans-serif;
 $stack-serif 		: 'Times New Roman', Times, serif;

 // Media Query Breakpoints
 $brk-narrow 	: '(max-width:768px)';
 $brk-wide 		: '(max-width:1024px)';

 // Asset path
 $img_path: '/img';

 // Mixins
 @mixin transition($length) {
 	-webkit-transition: all $length ease-out;
	-moz-transition: all $length ease-out;
	-ms-transition: all $length ease-out;
	-o-transition: all $length ease-out;
	transition: all $length ease-out;
 }

 @mixin border-radius($radius) {
 	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
 } 

 .center {
 	text-align: center;
 }