/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* forms */
#mc_embed_signup {
    background: $color-gray-dark;
}

#mc_embed_signup .mc-field-group input {
    display: inline-block !important;
    width: 22.6% !important;
    margin-right: 22px !important;
    text-indent: 2% !important;
}

#mc_embed_signup .button {
    background-color: $color-coral !important;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 32px;
    margin: 0 5px 10px 0px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}
#mc_embed_signup .clear {
    display: inline !important;
}
#mc_embed_signup .mc-field-group {
    min-height: 40px !important;
}
fieldset {
    border: none;
}
input, button {
    padding: 12.5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $color-border-light;
}
input {
    width: 218px;
}
button {
    border: 1px solid $color-coral;
    width: 155px;
}   

