/**
 * Reset some basic elements
 */
html, body {
    height: 100%;
    min-height: 400px;
}
a, button {
    cursor: pointer; 
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -310px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
    display: inline-block;
}
/* forms */
#mc_embed_signup {
        background: $color-gray-dark;
    #mc_embed_signup_scroll p {
        margin-bottom: 3.5%;
    }
    .mc-field-group {
        display: inline;
        min-height: 40px;
    }
    form {
        padding: 3.2% 5%;
    }
    input {
        border-radius: 2px;
        background-color: $color-gray-dark;
        border: 1px solid $color-border-light;
        display: inline-block;
        width: 25.7%;
        margin-right: 22px;
        text-indent: 0;
    }
    .button {
        border: none;
        border-radius: 2px;
        background-color: $color-coral;
        display: inline-block;
        height: 40px;
        line-height: 14px;
        width: 13.7%;
        margin: 0;
        color: $color-white;
        font-size: 15px;
        font-family: $stack-sans-serif-light;
    }
    .clear {
        display: inline;
    }
    ::-webkit-input-placeholder {
        color: $color-white;
        font-size: 15px;
        font-family: $stack-sans-serif-light;
    }

    ::-moz-placeholder {
        color: $color-white;
        font-size: 15px;
        font-family: $stack-sans-serif-light;
    }

    :-ms-input-placeholder {  
        color: $color-white;
        font-size: 15px;
        font-family: $stack-sans-serif-light;
    }
}
footer #mc_embed_signup form {
    padding: 3.2% 0 !important;
}
fieldset {
    border: none;
}
input, button {
    padding: 12.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $color-border-light;
}
input {
    width: 218px;
}
button {
    border: 1px solid $color-coral;
    width: 155px;
}   


/* end of forms */

.clearfix {
    clear: both;
}