body {
	font-family: $stack-sans-serif-light;
}

 h1,h2,h3,h4,h5,h6,p {
	font-family: $stack-sans-serif-light;
	line-height: 1.5;
}

h1 {
	margin-bottom: 30px;
	font-size: 34px;
	color: $color-text-base;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 17px;
}

a {
	color: $color-link-default;
}