
.common-block {
	height: 390px;
	width: 100%;
}
.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.logo {
	width: 200px;
	margin:0 auto;
	display:block;
}

.back-gray {
	background-color: $color-gray-background;
}
.back-dark {
	background-color: $color-gray-dark;
}
.back-coral {
	background-color: $color-coral;
}
.back-blue {
	background-color: $color-blue;
}
.color-white, .color-white h1 {
	color: $color-white;
}
.text-center {
	text-align: center;
}



/*---------------------
	Mixins and extend
---------------------*/
%form-settings {
	color: $color-white;
    font-size: 15px;
    font-family: $stack-sans-serif-light;
}
	
