
.common-block {
	min-height: 390px;
	width: 100%;
}
.flex-container {
	padding: 0;
  	margin: 0;
  	list-style: none;
  
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	float: left;

	-webkit-align-items: stretch; 
  	align-items: stretch; 
}
.copy-grid {
	max-width: 1044px;
}
.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.logo {
	width: 200px;
	margin: 0 auto;
	display: block;
}
.border {
	border-bottom: 1px solid $color-white;
    width: 5em;
    margin: 0 auto;
}
.copy-spacing-left {
	padding: 5em 2em 5em 5em;
}
.copy-spacing-right {
	padding: 5em 5em 5em 2em;
}
.back-gray {
	background-color: $color-gray-background;
}
.back-dark {
	background-color: $color-gray-dark;
}
.back-coral {
	background-color: $color-coral;
}
.back-blue {
	background-color: $color-blue;
}
.color-white, .color-white h1 {
	color: $color-white;
}
.text-center {
	text-align: center;
}


// categories on blog landing and post pages
.category-post {
	margin-top: 2em;
	font-size: 13px;
	li {
		margin-right: 1em;
		text-transform: uppercase;
		font-weight: 700;
		color: $color-gray-light;
	}
}


// Bottom block with social buttons 

.buttons {
	border-top: 1px solid $color-gray-light;
	.col-1-3 {
		padding: 1em 1.5em;
	}
	.read-more-btn {
	 	display: block;
	 	background-color: $color-coral;
	 	color: $color-white;
	 	border-radius: 2px;
	 	height: 40px;
	 	width: 130px;
	 	font-size: 14px;
		line-height: 12px;
	}
	.fa-heart {
		line-height: 40px;
	}
	.fb-likes {
		display: inline-block;
		margin-left: 1em;
	}
}
.social-icons {
	a {
    	color: $color-text-base;
		li {
			background-color: $color-gray-light;
		    width: 3em;
		    height: 3em;
		    font-size: 11.5px;
		    border-radius: 50%;
		    vertical-align: middle;
		}
		&:nth-of-type(2) li {
		    margin: 0 2.2em;
	   	}
	   	.fa-envelope, .fa-twitter, .fa-facebook {
			line-height: 35px;
		}
		.fa-twitter {
			font-size: 13px;
		}
		.fa-facebook {
			font-size: 16px;
		}
	}


}

//Sidebar 


.sidebar-heading {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $stack-sans-serif;
}
.categories-all {
	li {
		display: block;
		margin: 1.5em 0;
	}
	.category-active {
		border-left: 3px solid $color-coral;
	    padding-left: 1.4em;
	    margin-left: -1.65em;
		a {
			color: $color-coral;
		}
	}
}
.tags-all li {
	margin-top: 1.5em;
	padding: 1em;
	border: 1px solid $color-gray-light;
	border-radius: 2px;
	margin-right: 1em;
}
.tags-all, .categories-all {
	font-size: 14px;
	border-left: 1px solid $color-gray-light;
	padding-left: 1.5em;
	margin-top: 4em;
	li a {
		color: $color-text-base;
		&:hover {
			color: $color-coral;
		}
	}
}
	


