#post-body {
	padding-bottom: 3em;
	margin-top: 2.5em;
	.post-wrapper {
		float: none;
		margin: 0 auto;
	}
	img {
		width: 100%;
	    margin: 2.5em auto;
	    text-align: center;
	}
	.category-post {
		margin-bottom: 2em;
	}
}