// Colors

// Primary Colors

	$color-coral				: #F55353;
	$color-blue 				: #1C8FB7;
	$color-purple				: #5C4272;

	$color-black				: #000000;
	$color-white				: #ffffff;

//	Gray Shades
	
	$color-gray-dark			: #2A2A2A;  // for background
	$color-gray-background		: #F2F2F2;	// light gray 
	$color-border-light			: #C5C5C5;  // gray
	$color-border-dark			: #979797;	// gray
	$color-gray-light			: #D8D8D8;  // for icons background

// Copy colors and settings

	$color-text-base    		: #333333;
	$color-text-light			: #8C8C8C; 	// gray (footer)

	$base-line-height			: 1.4;
// Link colors

	$color-link-default 		: #F55353; 	// coral
//  $color-link-visited 		: 



// Fonts
@font-face {
  font-family: "proximanova-reg";
  src: url('/assets/fonts/ProximaNova-Reg.otf') format('opentype');
}
@font-face {
  font-family: "proximanova-light";
  src: url('/assets/fonts/ProximaNova-Light.otf') format('opentype');
}
 
// Font Stacks
 $stack-sans-serif		 : 'proximanova-reg', Helvetica, Arial, sans-serif; 
 $stack-sans-serif-light : 'proximanova-light', Helvetica, Arial, sans-serif; 
 //$stack-serif 		: 'Times New Roman', Times, serif;

 // Media Query Breakpoints
 $brk-narrow 	: '(max-width:768px)';
 $brk-wide 		: '(max-width:1024px)';

