<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include header-blog.html %}
  <body>
  <div id="blog">
    <div class="grid blog-content">
      <div class="col-8-12">
        <h1 class="page-heading">Blog</h1>

        <ul class="post-list">
            {% for post in site.posts %}
              <li class="post">
                {% if post.image %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <div class="img-blog" style="background-image: url('/img/{{ post.image }}');"></div></a>
                {% endif %}
                <div class="blog-excerpt">
                    <ul class="category-post">
                        {% for category in post.categories %}
                        <li>{{ category }}</li>
                        {% endfor %}
                    </ul>
                    <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h1></a>
                    <p>{{ post.content | strip_html | truncatewords:75}}</p>
                </div>
                <div class="buttons">
                    <div class="col-1-3">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <button class="read-more-btn">Read Story</button> 
                        </a>
                    </div>
                    <div class="col-1-3 text-center">
                        <i class="fa fa-heart"></i>
                        <p class="fb-likes">Like</p>
                    </div>
                    <div class="col-1-3">
                        <ul class="text-center social-icons">
                            <li><i class="fa fa-envelope"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-facebook"></i></li>
                        </ul>
                    </div>
                </div>
              </li>

            {% endfor %}
        </ul>
        
      </div>
      <div class="col-4-12">
        <div class="blog-intro">
            <p class="sidebar-heading">BLOG</p>
            <p>The Impact Atlas blog is a space to share updates, stories from the field and answer use case questions. Thanks for following along with our Journey!</p>
        </div>
        <div class="categories-all">
            <p class="sidebar-heading">CATEGORIES</p>
            <ul>
                <li class="category-active"><a href="/blog">All</a></li>
                {% for category in site.categories %}
                <li><a href="">{{ category | first }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="tags-all">
            <p class="sidebar-heading">TAGS</p>
            <ul>
                {% for tag in site.tags %}
                <li><a href="/tag/{{ tag | first | slugify }}/">
                    <span>#</span>{{ tag[0] | replace:'-', ' ' }} 
                </a></li>
                {% endfor %}
            </ul>
        </div>
      </div>
      </div>
      </div>
    {% include footer.html %}

  </body>

</html>




  
  