---
layout: default
--- 

<div id="blog">
	<div class="grid blog-content">
	  <div class="col-8-12">
	    <h1 class="page-heading"><a href="/blog/">Blog</a></h1>

	    <ul class="post-list">

	    	{% for post in site.posts %} 

	        {% assign cat = page.url | remove:'/blog/category/' | remove:'/' | downcase %}
	    
	        {% for pCat in post.categories %}

	            {% assign currentCat = pCat | downcase | slugify %}
	            {% if currentCat == cat %}
	    
	          	{% include blog-body.html %}

	        	{% endif %}
	        	
	        {% endfor %}
	    	
	    	{% endfor %}
	   	</ul>
	    
	  </div>
	    {% include sidebar.html %}
	</div>
</div>




  
