---
layout: default
---

<div id="blog">
	<div class="grid blog-content">
  		<div class="col-8-12">
    		<h1 class="page-heading"><a href="/blog/">Blog</a></h1>
    
			    <ul class="post-list">

			    {% for post in site.posts %} 

			        {% assign tTag = page.url | remove:'/blog/tag/' | remove:'/' | downcase %}
			    
			        {% for pTag in post.tags %}
			            {% assign currentTag = pTag | downcase | slugify %}
			            {% if currentTag == tTag %}
			    
			          
			          	{% include blog-body.html %}
			           
			           
		                {% endif %}
		                {% endfor %}
			           
			        {% endfor %}
			    </ul>
  		</div>
  		{% include sidebar.html %}
  </div>
</div>